.terminal {
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;

}
.command {
    color: white;
    display: block;
    width: 0px;
    margin: 0;
    font-size:1.2rem;
    overflow: hidden;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    animation-name: writeText;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    
}
.cursorDash {
    animation: blink 1s 3.5s infinite;
}


@keyframes writeText {
from {
width: 0;
}
to {
width: 600px;
}
}

@keyframes blink {
0% {
    opacity: 0;
}
40% {
    opacity: 0;
}
50% {
    opacity: 1;
}
90% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}